    /* .main {
        display: flex;
        min-height: calc(100vh - 40vh);
      }
    .main-body{
        flex: 1;
        font-size: 5vw;
        padding: 7%;
    }
    .header{
        height: 10vh;
        font-size: 9vw;
    }
       */